@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";


}



<h2>Insert</h2>
<h6>@Html.ActionLink("Retour a l'accueil", "Index", "Default")</h6>
<h6>@ViewBag.Msg</h6>