@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "InsertStandard";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<center>
    <div class="pagetitle">
        <br />
        Confirmation
    </div><br />
    <div class="retour">

        <a>@Html.ActionLink("Retour a l'accueil", "Index", "Default")</a>

    </div>

    <h6>@ViewBag.Msg</h6>
</center>