@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Supprimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div class="pagetitle">
        <br />
        Confirmation
    </div><br />
    <div class="retour">

        <a>@Html.ActionLink("Retour a l'accueil", "Index", "Default")</a>

    </div>

    <h6>Vous avez supprimer tout les étudiants</h6>
</center>
